<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/profiles/edit.css">
<%- include('../partials/nav') %>

<main>
    <h1><%= title %></h1>
  <img
  src="<%= profile.avatar %>"
  alt="<%= profile.name %> avatar"
  />
  <h3> <%= profile.name %>  has been a user since: <%= profile.createdAt.toLocaleDateString()  %></h3>
  <form 
      id="new-form"
      action="/profiles/<%= profile._id %>?_method=PUT" 
      method="POST">
      
      <div class="user-properties-div">
        <label for="location-input">
        <b>
        Location: 
        </b>
        </label>
        <input 
          required 
          type="text" 
          name="location" 
          id="location-input"
          value="<%= profile.location %>"
        >
      </div>
      <div class="user-properties-div">
        <label for="favorite-artist-input">
          <b>
            Favorite Artist: 
          </b>
        </label>
        <input 
          type="text" 
          name="favoriteArtist" 
          id="favorite-artist-input"
          value="<%= profile.favoriteArtist %>"
          >
      </div>
      <div class="user-properties-div">
        <label for="ga-alumni-checkbox">
          <b>
            General Assembly Alumni: 
          </b> 
        </label>
        <input 
          type="checkbox" 
          name="gaAlumni" 
          id="ga-alumni-checkbox" 
          <%= profile.gaAlumni ? "checked" : "" %>
        >
      </div>
      <div>
        <button id="saveuser-edit-btn" type="submit">Finish Edit</button>
      </div>
</main>
<%- include('../partials/footer') %>