<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/shows/new.css"> -->
<%- include('../partials/nav') %>

<main>
  <% if (song.owner.equals(user?.profile._id)) { %>
    <h1><%= title %></h1>
    <form 
      id="new-form"
      action="/songs/<%= song._id %>?_method=PUT" 
      method="POST">
      <label for="title-input">Title: </label>
      <input 
        required 
        type="text" 
        name="title" 
        id="title-input"
        value="<%= song.title %>"
      >
      <label for="artist-input">Artist: </label>
      <input 
        type="text" 
        name="artist" 
        id="artist-input"
        value="<%= song.artist %>"
        >
      <label for="genre-select">Genre: </label>
      <select name="genre" id="genre-select" value="<%= song.genre %>">
        <option value="Hip-Hop/Rap">Hip-Hop/Rap</option>
        <option value="r-and-b">R&B</option>
        <option value="rock">Rock</option>
        <option value="pop">Pop</option>
        <option value="country">Country</option>
        <option value="jazz">Jazz</option>
        <option value="heavy Metal">Heavy Metal</option>
        <option value="classical">Classical</option>
        <option value="indie">Indie</option>
        <option value="reggaeton">Reggaeton</option>
        <option value="electronic">Electronic</option>
        <option value="latin">Latin</option>
      </select>
      <label for="explicit-rating-checkbox">Explicit Rating: </label>
      <input 
        type="checkbox" 
        name="explicitRating" 
        id="explicit-rating-checkbox" 
        <%= song.explicitRating ? "checked" : "" %>
      >
      <button type="submit">Finish Edit</button>
    </form>
  <% } %>
</main>

<%- include('../partials/footer') %> 