<%- include('../partials/html-head') %>
<!-- <link rel='stylesheet' href='/stylesheets/songs/index.css'> -->
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <% if (user) { %>
    <h2>Add a song!</h2>
    <a href='/songs/new'>Add Song </a>
  <% } %>
    <ul>
      <% songs.forEach(song => { %>
        <li>
          🎵 
          <%= song.title %> 
          - <%= song.artist %>
          <a href="/songs/<%= song._id %>"><button>Details</button></a>
        </li>
      <% }) %>
    </ul>
<%- include('../partials/footer') %>