<%- include('../partials/html-head') %>
<!-- <link rel="stylesheet" href="/stylesheets/shows/new.css"> -->
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <% if (!song.owner.equals(user?.profile._id)) { %>
    <h2>This song was added by <%= song.owner.name %> </h2>
  <% } %>
  <section>
    <div>Title: <%= song.title %></div>
    <div>Artist: <%= song.artist %> </div>
    <div>Genre: </div>
    <div><%= song.genre %></div>
    <div>Explicit Rating: </div>
    <div><%= song.explicitRating ? 'Yes' : 'Nope' %></div>
    <% if (song.owner.equals(user?.profile._id)) { %>
      <a href='/songs/<%= song._id %>/edit'>
        <button>Edit Song</button>
      </a>
    <% } %>
  </section>



  <h2>Reviews</h2>
  <% if (user) { %>
    <form 
    id="add-review-form"
    action="/songs/<%= song._id %>/reviews"
    method="POST"
    >
    <label for="content-textarea">Review:</label>
    <textarea name="content" id="content-textarea"></textarea>
    <label for="rating-select">Rating:</label>
    <select name="rating" id="rating-select">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5" selected>5</option>
    </select>
    <button type="submit">Add Review</button>
  </form>
  <% } %>
  <% if (song.reviews.length) { %>
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% song.reviews.forEach(function(review) { %>
          <tr>
            <td><%= review.createdAt.toLocaleDateString() %></td>
            <td><%= review.content %></td>
            <td><%= review.rating %></td>
            <td>
              <!-- <form 
              action='/songs/<%= song._id %>/reviews/<%= review._id %>?_method=DELETE' 
              method='POST'
            >
              <button>Delete Review</button> -->
            </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Reviews Yet</h3>
  <% } %>
</main>

<%- include('../partials/footer') %> 