<%- include('../partials/html-head') %>
<!-- <link rel='stylesheet' href='/stylesheets/songs/index.css'> -->
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %></h1>
  <form id="form" role="search">
    <input type="search" id="query" name="q"
      placeholder="Search..."
      aria-label="Search through site content"
      autocomplete="off"
      >
    <button>Search</button>
  </form>
    <ul>
      <% profiles.forEach(profile => { %>
        <li> 
          <%= profile.name %> 
          -
          <a href="/profiles/<%= profile._id %>">
            <button>Details</button>
          </a>
        </li>
      <% }) %>
    </ul>
<%- include('../partials/footer') %>